media/
.DS_Store
pdf/*
.vscode
*.sublime-*
.terraform*
terraform.tfstate*
*.rpm
*.swp
.virtualenv
docs/class6/temp
docs/class1
docs/class2
docs/class3
docs/class4
docs/class5
docs/class6
docs/class7
docs/class8
